web/BLL/Service References/sreferencia/cls_servicio_SVC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="cls_servicio_SVC" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3354/servicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3354/servicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3354/servicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iservicio_ListarDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarDatos" />
  </wsdl:message>
  <wsdl:message name="Iservicio_ListarDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="Iservicio_FiltrarDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:FiltrarDatos" />
  </wsdl:message>
  <wsdl:message name="Iservicio_FiltrarDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:FiltrarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="Iservicio_Consultas_sin_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultas_sin_I" />
  </wsdl:message>
  <wsdl:message name="Iservicio_Consultas_sin_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consultas_sin_IResponse" />
  </wsdl:message>
  <wsdl:message name="Iservicio_Consultas_con_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultas_con_I" />
  </wsdl:message>
  <wsdl:message name="Iservicio_Consultas_con_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consultas_con_IResponse" />
  </wsdl:message>
  <wsdl:portType name="Iservicio">
    <wsdl:operation name="ListarDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/Iservicio/ListarDatos" message="tns:Iservicio_ListarDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iservicio/ListarDatosResponse" message="tns:Iservicio_ListarDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FiltrarDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/Iservicio/FiltrarDatos" message="tns:Iservicio_FiltrarDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iservicio/FiltrarDatosResponse" message="tns:Iservicio_FiltrarDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultas_sin_I">
      <wsdl:input wsaw:Action="http://tempuri.org/Iservicio/Consultas_sin_I" message="tns:Iservicio_Consultas_sin_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iservicio/Consultas_sin_IResponse" message="tns:Iservicio_Consultas_sin_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultas_con_I">
      <wsdl:input wsaw:Action="http://tempuri.org/Iservicio/Consultas_con_I" message="tns:Iservicio_Consultas_con_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iservicio/Consultas_con_IResponse" message="tns:Iservicio_Consultas_con_I_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iservicio" type="tns:Iservicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarDatos">
      <soap:operation soapAction="http://tempuri.org/Iservicio/ListarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FiltrarDatos">
      <soap:operation soapAction="http://tempuri.org/Iservicio/FiltrarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultas_sin_I">
      <soap:operation soapAction="http://tempuri.org/Iservicio/Consultas_sin_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultas_con_I">
      <soap:operation soapAction="http://tempuri.org/Iservicio/Consultas_con_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="cls_servicio_SVC">
    <wsdl:port name="BasicHttpBinding_Iservicio" binding="tns:BasicHttpBinding_Iservicio">
      <soap:address location="http://localhost:3354/servicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>